@charset "utf-8";
/*css document*/

#banner {
    position: relative;
    width: 1140px;
    height: 420px;
    overflow: hidden;
}

#banner_list img {
    border: 0px;
    width: 1140px;
    height: 420px;
}

#banner_bg {
    position: absolute;
    bottom: 0;
    background-color: #000;
    height: 50px;
    filter: Alpha(Opacity=30);
    opacity: 0.3;
    z-index: 1000;
    cursor: pointer;
    width: 1140px;
}

#banner_info {
    position: absolute;
    bottom: 13px;
    left: 5px;
    height: 22px;
    color: #fff;
    z-index: 1001;
    cursor: pointer;
    margin-left: 10px;
}

#banner ul {
    position: absolute;
    list-style-type: none;
    filter: Alpha(Opacity=80);
    opacity: 0.8;
    z-index: 1002;
    margin-right: 10px;
    padding: 0;
    bottom: 3px;
    right: 5px;
}

#banner ul li {
    padding: 0px 10px;
    float: left;
    display: block;
    color: #FFF;
    background: #6f4f67;
    cursor: pointer;
    border: 1px solid #666;
}

#banner ul li.on {
    background-color: #000;
}

#banner_list a {
    position: absolute;
}

.articletext {
    width: 780px;
    float: left;
    clear: none;
    padding: 20px 0 0 0;
    background: white;
    overflow: hidden;
    word-wrap: break-word;
    border-top: 2px solid #666;
}

.texticon {
    background: url("../img/write.jpg") no-repeat center bottom;
    width: 80px;
    height: 35px;
    float: left;
    clear: none;
}

.articletitle {
    width: 700px;
    float: right;
    clear: none;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 1px solid rgb(235, 237, 239);
}

.txtcnt {
    width: 680px;
    float: right;
    clear: none;
    padding-right: 20px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", \5FAE\8F6F\96C5\9ED1, tahoma, arial, simsun, \5B8B\4F53;
    font-size: 15px;
    line-height: 1.5;
    overflow: hidden;
    word-wrap: break-word;
}

.txtcnt p {
    display: block;
    clear: both;
    margin-bottom: 20px;
}

.meta {
    width: 780px;
    float: left;
    clear: both;
    background: #fff;
}

.metasep {
    height: 1px;
    width: 700px;
    float: right;
    clear: both;
    background: rgb(235, 237, 239);
    overflow: hidden;
}

.meta ol {
    width: 700px;
    float: right;
    clear: both;
    zoom: 1;
}

.meta li {
    float: left;
    clear: none;
    padding: 10px 10px 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(177, 181, 185);
}

.metabd {
    width: 780px;
    height: 6px;
    overflow: hidden;
    float: left;
    clear: both;
    background: url("../img/hr1.jpg") no-repeat 0 0;
    margin-bottom: 40px;
}

.mainlist {
    margin-top: 50px;
}

.mainintro {
    padding: 30px 0px;
    margin-left: 30px;
}

.author, .biaoqian, .git {
    text-align: right;
}

.mainintro h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-top: 2px solid #666;
    height: 40px;
}

.link ul {
    width: 100%;
    margin: 30px 0;
    overflow: hidden;
}

.link li {
    width: 52px;
    margin: 0 18px 0 5px;
    float: right;
}

.link li a {
    font-size: 12px;
    color: #666;
    width: 52px;
    text-align: center;
    padding-top: 60px;
    float: left;
}

.xl {
    background: url("../img/xlwb.jpg") no-repeat scroll 0% 0% transparent;;
}

.rss {
    background: url("../img/rss.jpg") no-repeat scroll 0% 0% transparent;;
}

.mail {
    background: url("../img/mail.jpg") no-repeat scroll 0% 0% transparent;;
}

.link li a:hover {
    opacity: 0.6;
}

.biaoqian ul li {
    display: block;
    height: 26px;
    line-height: 26px;
    float: right;
    padding: 0px 10px;
    margin: 10px 10px;
    border-radius: 5px;
}

.biaoqian ul li a {
    color: #666;
    text-decoration: none;
}

.biaoqian ul li:nth-child(odd) {
    background: #e4b9b9;
}

.biaoqian ul li:nth-child(even) {
    background: #E0F2BE;
}

.biaoqian li:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    box-shadow: 0 2px 6px #111;
    transition: all 0.8s linear;
    opacity: .7;
}

.hover {
    background: #000000 !important;
}


