<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Elmer-个人博客</title>
        <script src="/public/js/jquery-1.11.2.min.js" type="text/javascript"></script>
        <script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
        <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/public/css/style.css" rel="stylesheet" type="text/css">
        <link href="/public/css/all.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/public/img/favicon.ico">
    </head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--nav-->
            <div class="nav">
                <ul class="clearfix">
                    {% if user.id %}
                        {% if user.isAdmin %}
                        <li><a class="nav_bar" href="/admin">{{user.username}}（管理员）</a><a href="javascript:;" class="loginout nav_bar" id="loginout">登出</a></li>
                        {% else %}
                        <li><span class="nav_bar">{{user.username}}</span><a href="javascript:;" class="loginout nav_bar" id="loginout">登出</a></li>
                        {% endif %}
                    {% else %}
                    <li><a href="javascript:;" class="nav_bar login" data-toggle="modal" data-target="#loginModal">登录</a></li>
                    <li><a href="javascript:;" class="nav_bar register" data-toggle="modal" data-target="#registerModal">注册</a></li>
                    {% endif %}
                    <li><a href="javascript:;" class="nav_bar">首页</a></li>
                    <li><a href="sharePage.html" class="nav_bar" target="_self">分享</a></li>
                    <li><a href="life.html" class="nav_bar" target="_self">生活</a></li>
                    <li><a href="study.html" class="nav_bar">学习</a></li>
                    <li><a href="author.html" class="nav_bar">author</a></li>
                    <form class="nav_form">
                        <input type="text" class="search" placeholder="Search"/>
                        <button class="nav_btn">搜索search</button >
                    </form>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <div id="banner">
            <div id="banner_bg">
            </div>
            <!--标题背景-->
            <div id="banner_info">
            </div>
            <!--标题-->
            <ul>
                <li class="on">
                    1
                </li>
                <li>
                    2
                </li>
                <li>
                    3
                </li>
                <li>
                    4
                </li>
            </ul>
            <div id="banner_list">
                <a href="javascript:;" target="_blank"><img src="/public/img/bg2.jpg" title="勇往直前，keep moving" alt="勇往直前，keep moving"></a>
                <a href="javascript:;" target="_blank"><img src="/public/img/bg6.jpg" title="亲近自然" alt="亲近自然"></a>
                <a href="javascript:;" target="_blank"><img src="/public/img/bg4.jpg" title="专属浪漫" alt="埃菲尔铁塔"></a>
                <a href="javascript:;" target="_blank"><img src="/public/img/bg.jpg" title="夕阳西下" alt="枯藤老树昏鸦"></a>
            </div>
        </div>
    </div>
</div>
</div>
<!--登录&注册-->
<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--登录-->
            <div class="form-horizontal login-main ">
                <span class="heading">用户登录</span>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="用户名或电子邮件">
                    <i class="icon-user"></i>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control" id="password" placeholder="密　码">
                    <i class="icon-lock"></i>
                    <a href="javascript:;" class="icon-question-circle"></a>
                </div>
                <div class="form-group">
                    <div class="main-checkbox">
                        <input type="checkbox" value="None" id="checkbox1" name="check" checked disabled/>
                        <label for="checkbox1"></label>
                    </div>
                    <span class="text">欢迎光临</span>
                    <button class="btn btn-default login-btn">登录</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--注册-->
            <div class="form-horizontal register-main ">
                <span class="heading">用户注册</span>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputUsername" placeholder="用户名或电子邮件">
                    <i class="icon-user"></i>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control" id="inputPassword" placeholder="密码">
                    <i class="icon-lock"></i>
                    <a href="javascript:;" class="icon-question-circle"></a>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control" id="inputPasswordReq" placeholder="确认密码">
                    <i class="icon-lock"></i>
                    <a href="javascript:;" class="icon-question-circle"></a>
                </div>
                <div class="form-group">
                    <div class="main-checkbox">
                        <input type="checkbox" value="None" id="checkbox2" name="check" checked disabled/>
                        <label for="checkbox2"></label>
                    </div>
                    <span class="text">欢迎注册</span>
                    <button class="btn btn-default register-btn">注册</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="mainlist">
                <!-- 文字 -->
                <div class="articletext">
                    <div class="texticon"></div>
                    <div class="articletitle"><a href="http://niszhu.lofter.com/post/1d421e59_771319a">提前回家</a></div>
                    <div class="txtcnt">
                        <p>流汗而已。。多做点事，减少家里老人家的负担。这样挺好的。</p>
                    </div>
                </div>

                <!-- 日志信息 -->
                <div class="meta">
                    <div class="metasep"></div>
                    <ol>
                        <li>
                            <a href="http://niszhu.lofter.com/post/1d421e59_771319a"/>
                            <img src="/public/img/timer.jpg"/>
                            2015-06-29
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="metabd"></div>
                <!-- 文字 -->
                <div class="articletext">
                    <div class="texticon"></div>
                    <div class="articletitle"><a href="http://niszhu.lofter.com/post/1d421e59_771319a">勿忘初心</a></div>
                    <div class="txtcnt">
                        <p>
                            花无百日红，人无百日衰”，赠人玫瑰手有余香。凡事，不求十分，但求尽心，不求圆满，但求尽力。莫让时间蹉跎！让爱在生命里明媚，在信念里长存。明天正不紧不慢地走来，我们，要在痛苦中坚强，在失败中奋起，在磨砺中蜕变，在绝境中重生，展开潇洒的衣袖，携着一缕经年的暗香微笑迎接明天！今日，勿再虚度！为了明天，我们须风雨兼程，且行且珍惜！</p>
                    </div>
                </div>

                <!-- 日志信息 -->
                <div class="meta">
                    <div class="metasep"></div>
                    <ol>
                        <li>
                            <a href="http://niszhu.lofter.com/post/1d421e59_771319a"/>
                            <img src="/public/img/timer.jpg"/>
                            2015-06-29
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="metabd"></div>
                <!-- 文字 -->
                <div class="articletext">
                    <div class="texticon"></div>
                    <div class="articletitle"><a href="http://niszhu.lofter.com/post/1d421e59_771319a">Keep Moving</a></div>
                    <div class="txtcnt">
                        <p>只有在挥洒汗水的时候，你才不会去瞎想，也只有这个时候你不会感到堕落。。

                            未来，我来。</p>
                    </div>
                </div>

                <!-- 日志信息 -->
                <div class="meta">
                    <div class="metasep"></div>
                    <ol>
                        <li>
                            <a href="http://niszhu.lofter.com/post/1d421e59_771319a"/>
                            <img src="/public/img/timer.jpg"/>
                            2015-06-29
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="metabd"></div>
                <!-- 文字 -->
                <div class="articletext">
                    <div class="texticon"></div>
                    <div class="articletitle"><a href="http://niszhu.lofter.com/post/1d421e59_771319a">Keep Moving</a></div>
                    <div class="txtcnt">
                        <p>只有在挥洒汗水的时候，你才不会去瞎想，也只有这个时候你不会感到堕落。。

                            未来，我来。</p>
                    </div>
                </div>

                <!-- 日志信息 -->
                <div class="meta">
                    <div class="metasep"></div>
                    <ol>
                        <li>
                            <a href="http://niszhu.lofter.com/post/1d421e59_771319a"/>
                            <img src="/public/img/timer.jpg"/>
                            2015-06-29
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="metabd"></div>
                <!-- 文字 -->
                <div class="articletext">
                    <div class="texticon"></div>
                    <div class="articletitle"><a href="http://niszhu.lofter.com/post/1d421e59_771319a">Keep Moving</a></div>
                    <div class="txtcnt">
                        <p>只有在挥洒汗水的时候，你才不会去瞎想，也只有这个时候你不会感到堕落。。

                            未来，我来。</p>
                    </div>
                </div>

                <!-- 日志信息 -->
                <div class="meta">
                    <div class="metasep"></div>
                    <ol>
                        <li>
                            <a href="http://niszhu.lofter.com/post/1d421e59_771319a"/>
                            <img src="/public/img/timer.jpg"/>
                            2015-06-29
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="metabd"></div>

            </div>
        </div>
        <div class="col-md-4">
            <!--介绍-->
            <div class="mainintro">
                <div class="author">
                    <h3>关于我</h3>
                    <img src="/public/img/photo.jpg">

                    <div class="link">
                        <ul>
                            <li><a href="javascript:;" class="xl">新浪微博</a></li>
                            <li><a href="javascript:;" class="rss">RSS</a></li>
                            <li><a href="javascript:;" class="mail">邮箱</a></li>
                        </ul>
                    </div>
                </div>
                <div class="biaoqian">
                    <h3>标签</h3>
                    <ul class="clearfix">
                        <li><a href="javascript:;">web前端</a></li>
                        <li><a href="javascript:;">Html</a></li>
                        <li><a href="javascript:;">Javascript</a></li>
                        <li><a href="javascript:;">Css</a></li>
                        <li><a href="javascript:;">Jsp</a></li>
                        <li><a href="javascript:;">前端开发</a></li>
                        <li><a href="javascript:;">web开发</a></li>
                        <li><a href="javascript:;">html5</a></li>
                        <li><a href="javascript:;">Css3</a></li>
                        <li><a href="javascript:;">web重构</a></li>
                    </ul>
                </div>
                <div class="git">
                    <h3>GitHub</h3>
                    <a href="https://github.com/Tanelmer" target="_blank">https://github.com/Tanelmer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--底部-->
            <div class="foot">
                <p class="back">BackTop</p>

                <p>powerBy &copy;elmer</p>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/common.js" type="text/javascript"></script>
</body>
</html>